Repository cjpollok/next-js-base: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

Unit testing with Jest and React Testing Library
  .eslintrc.json
  README.md
  jest.config.js
  package.json
Due: none

Unit Test Example
  src/example-test/Button/Button.module.scss
  src/example-test/Button/Button.tsx
  src/example-test/Button/index.ts
  src/example-test/Component/Component.test.tsx
  src/example-test/Component/Component.tsx
  src/example-test/Component/index.ts
Due: stylelint --fix, eslint --fix

Redux
  package.json
  src/pages/_app.tsx
  src/redux/app/slice.ts
  src/redux/reducers.ts
  src/redux/store.ts
  src/redux/types.ts
Due: eslint --fix

Specify node versions with nvm
  .nvmrc
  README.md
Due: none

Upgrade all dependencies with Next.js 13
  package.json
  src/styles/main.scss
Due: stylelint --fix

Replace Sass with Styled Components
  .lintstagedrc.json
  .stylelintrc.json
  .vscode/settings.json
  README.md
  next.config.js
  package.json
  src/component-library/Button/Button.styles.ts
  src/component-library/Button/Button.test.tsx
  src/component-library/Button/Button.tsx
  src/component-library/Button/index.ts
  src/component-library/ThemeProvider/ThemeProvider.tsx
  src/component-library/ThemeProvider/index.ts
  src/component-library/ThemeProvider/theme.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/styles/common.styles.ts
  src/styles/main.scss
  src/styles/main.styles.ts
  src/styles/normalize.scss
  src/styles/normalize.styles.ts
  src/tests/testing-library-react.tsx
  styled.d.ts
Due: stylelint --fix, eslint --fix

Add argument and instructions for using a custom local domain
  README.md
  package.json
Due: none

Add robots.txt to disallow all routes until ready
  README.md
  public/robots.txt
Due: none

Redux with Redux Toolkit
  package.json
  src/pages/_app.tsx
  src/redux/app/slice.ts
  src/redux/reducers.ts
  src/redux/store.ts
  src/redux/types.ts
Due: eslint --fix

Path conditions:
  stylelint --fix: any of: *.scss
  eslint --fix: any of: *.{ts,tsx}
